// Colors
$primary: #414141;
$secondary: #7F7F7F;
$border: #e1e3eb;
$info: #DBF28B;
$info-dark: #93BC02;
$info-darkest: #1B8030;
$success: #28863B;
$danger: #FFD2D2;
$danger-dark: #FF0F00;
$link: #414141;

// Typography
$family-primary: Roboto, Arial, sans-serif;

//
$border-radius: 7px;